.card {
  background-color: white;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #d0021b;
}

.subtitle {
  font-size: small;
  margin-bottom: 20px;
  color: #888;
}

.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  font-size: small;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resetButton {
  background-color: #d0021b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.resetButton:hover {
  background-color: #a00116;
}
